.mycard{

	width: 220px;
	height: 250px
 
}
.mycard1 {

	width: 650px;
	
 
}
.nav-justified .myitem{
	text-align: right;

}
.badge-success {

    background-color: #64dd17;
}
.mybg.badge.badge-success{

    background-color: #28a745;


}