.mycard{

	width: 220px;
	height: 250px
 
}
.mycard1 {

	width: 650px;
	margin-right: 80px;
	
 
}

.nav-justified .myitem{
	text-align: right;

}
.badge-success {

    background-color: #64dd17;
}
.mybg.badge.badge-success{

    background-color: #28a745;


}
.listeposition{
	margin-right: 15px;
}
.mynavitem {
	font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 90%;
    border: 1px solid black;

}

th, td{
    text-align: center;
    padding: 8px;
    border: 1px solid black;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

th {
    background-color: red;
    color: black;
    font-style: italic;
    font-size: 22px;

}
